<bg [ngStyle]="this.bgStyle"></bg>

<main backdrop-blur>
  <section id="home">
    <img src="/assets/perryment_logo.png" alt="">

    <nav>
      <h1><a href="#about" (click)="goToAbout($event, 'about')">Acerca</a></h1>
      <h1><a [routerLink]="['tournaments', { outlets: { section: 't-list' } }]">Torneos</a></h1>
    </nav>
  </section>

  <section id="about" jtop>
    <a icon href="#home" (click)="goToAbout($event, 'home')" backdrop-blur>
      <mat-icon aria-hidden="false" aria-label="Arrow Up Icon">arrow_upward</mat-icon>
    </a>

    <app-card>
      <h1>Perryment</h1>

      <h2>¿Qué somos?</h2>
      <p>Este proyecto surge por la ambición de dos amigos de querer entretener a los jóvenes y al mismo tiempo que compitan entre ellos. Por eso hemos creado Perryment, un sitio donde competir contra otros grupos de amigos. La idea es empezar con League of Legends, pero intentar ampliarlo para otros juegos como Counter Strike, Rocket League, Valorant o Fornite.</p>
      <p>Nuestra intención es crear torneos que se hagan en un solo día, pero sin cerrarnos puertas a que en un futuro se puedan hacer torneos o ligas más duraderos.</p>

      <h2>Ponte en Contacto</h2>
      <p>Habrá contacto directo con vosotros a través de <a href="https://discordapp.com/" target="_blank">Discord</a>, ya que es una plataforma que nos brinda multitud de posibilidades tanto de comunicación por voz como por texto e imágenes. Por ello, hemos creado un <a href="https://discord.gg/5zsSqrU" target="_blank">servidor plenamente dedicado a Perryment.</a>. Recomendamos encarecidamente que os unáis a él para estar al tanto de todas las novedades. A parte, será completamente necesario para la participación en cualquiera de los torneos.</p>

      <h2>Retransmisiones</h2>
      <p>Todos los partidos se retrasmitirán en el <a href="https://twitch.tv/iPlumus" target="_blank">canal de Twitch de iPlumus</a>. Esto se hará para dar visibilidad a los equipos y jugadores y, para además, poder disfrutar en algún sitio de todos estos partidos emocionantes.</p>
    </app-card>
  </section>
</main>
